{% extends 'base.html' %}

{% block head_title %}
Tweetme 2
{% endblock head_title %}


{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to Tweetme 2</h1>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-4 mx-auto col-10">
        <form class="form"  id="tweet-creat-form" method="POST" action="/create-tweet"> {% csrf_token %}
            <input type="hidden" value="/" name="next" />
            <textarea class="form-control" name="content" placeholder="Your tweet..."></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">
    Loading...
</div>

<script>
    const handleTweetCreateFormDidSubmit = (event) => {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute('action')
        const method = myForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.onload = () => {
            const serverResponse = xhr.response
            const tweetsEl = document.querySelector('#tweets')
            loadTweets(tweetsEl)
        }
        xhr.send(myFormData)
    }

    const handleDidLike = (tweet_id, currentCount) => {
        console.log(tweet_id, currentCount)
    }

    const likeBtn = (tweet) => {
        return `
            <button class="btn btn-primary btn-sm" 
            onclick=handleDidLike(${tweet.id},${tweet.likes})>${tweet.likes} Likes</button>
        `
    }

    const formatTweetElement = (tweet) => {
        let formattedTweet = `
            <div class='col-12 col-md-10 mx-auto border rounded py-2 mb-4 tweet' 
            id='tweet-${tweet.id}'>${tweet.id}
            <p>${tweet.content}</p>
            <div class='btn-group'>${likeBtn(tweet)}</div></div>
        `
        return formattedTweet
    }

    const loadTweets = (tweetsElement) => {
        const xhr = new XMLHttpRequest
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const serverResponse = xhr.response
            let listedItems = serverResponse.response
            let finalTweetStr = ""
            for(let i = 0; i < listedItems.length; i++) {
                finalTweetStr += formatTweetElement(listedItems[i])  
            }
            tweetsElement.innerHTML = finalTweetStr
            console.log(listedItems)
        }
        xhr.send()
    }

    const tweetCreateFormEl = document.querySelector('#tweet-creat-form')
    const tweetsEl = document.querySelector('#tweets')
    tweetCreateFormEl.addEventListener('submit', handleTweetCreateFormDidSubmit)

    loadTweets(tweetsEl)

</script>
{% endblock content %}